<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% workouts.forEach(function(w) { %>
        <tr>
          <td><%= w.title %></td>
          <!-- <td><%= w.releaseYear %></td> -->
          <td><a href="/workouts/<%= w._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>