<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Workout Name</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% workouts.forEach(function(w) { %>
        <tr>
          <td><%=w.createdDate.getMonth()+1%>/<%=w.createdDate.getDate()%></td>
          <td><%= w.name %></td>
          <td><form action = "/workouts/<%= w._id %>" method = "GET">
            <button type="submit">+</button>
          </form></td>
          <td><form action = "/workouts/<%= w._id %>?_method=DELETE" method = "POST">
            <button type="submit">X</button>
          </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>