<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <% if (user) { %>
      <a href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>>ALL WORKOUTS</a>
        <!-- <a href="/movements/new"	<%- title === 'Add Movement' ? 'class="active"' : '' %>>
        ADD MOVEMENT</a> -->
      <a href="/workouts/new" <%- title === 'Add Workout' ? 'class="active"' : '' %>>ADD WORKOUT</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
  
  <main>
    <h1><span id="date"><%=workout.createdDate%>/<%=workout.createdAt.getDate()%></span> — <%= title %></h1>
    
<section id="show-page">
    <br>
    <tbody>
        <% workout.exercises.forEach(function(e) { %>
          <tr>
            <td><%= e.exerciseName %></td>
            <td><%= e.numSets %>x</td>
            <td><%= e.numReps %></td>
            <td>@<%= e.weight %></td>
            <form action = "/workouts/<%= workout._id %>/exercises/<%= e._id %>?_method=DELETE" method = "POST">
                <button type="submit">X</button>
            </form>
          </tr>
          <br>
          <% }); %>
    </tbody>
    <div><%= workout.note %></div>
</section>
<section>
    <br><br>
    <h3>Add exercise</h3>
    <form action="/workouts/<%= workout._id %>/exercises" method="POST">
        <label>Exercise Name
            <input type="text" name="exerciseName">
        </label>
        <label>Number of Sets
            <input type="number" name="numSets">
        </label>
        <label>Number of Reps
            <input type="number" name="numReps">
        </label>
        <label>Weight (lbs)
            <input type="number" name="weight">
        </label>
        <button type="submit">Add Exercise</button>
    </form>

    </form>
   <h3>Add a note</h3>
    <form action = "/workouts/<%= workout._id %>/note" method = "POST">
            <input type="text" name="note">
        <button type="submit">Submit note</button>
    </form>
    <br><br><br><br>
    <form action = "/workouts/<%= workout._id %>?_method=PUT" method = "POST">
        <label>Change Workout Title
            <input type="text" name="name">
        </label>
        <label>Change Date
            <input type="date">
        </label>
    <button type="submit">Submit Title<title></title></button>
    </form>
    <form action = "/workouts/<%= workout._id %>?_method=DELETE" method = "POST">
        <button type="submit">Delete Workout</button>
    </form>
</section>

<%- include('../partials/footer') %>